.add-new-site{
    height: 60px;
}

.domain-table-header{
    background-color: #F5F6FA;
    color: #ABB1C0;
    border-radius: 10px;
}
.domain-table-row{
    border-radius: 10px;
}

.accordion > .card > .card-header {
    outline: none;
}


.btn-save-changes{
    min-height: 50px;
    min-width: 175px;
}
.btn-close{
    min-height: 50px;
    min-width: 100px;
}