.add-new-site{
    height: 60px;
}

.domain-table-header{
    background-color: #F5F6FA;
    color: #ABB1C0;
    border-radius: 10px;
}
.domain-table-row{
    border-radius: 10px;
}

.accordion > .card > .card-header {
    outline: none;
}
.domain-table-card-body{
    background-color: #F5F6F8;
}

.btn-save-changes{
    min-height: 50px;
    min-width: 175px;
}
.btn-close{
    min-height: 50px;
    min-width: 100px;
}

.verified-icon{
    margin-right: 5px;
    border-radius: 20px;
    min-width: 20px;
    min-height: 20px;
    background-image: url('/assets/icons/verified.png');
    background-size: cover;
}

.btn-active-domain,.btn-deactive-domain,.btn-staging-domain,.btn-primary-domain,.btn-add-on-domain {
    outline: none;
    box-shadow: none;
    border: none;
}
.btn-active-domain{
    color: #62CECC;
    background-color: #C5EDEE;
}

.btn-staging-domain{
    background-color: #F1DAF2;
    color: #E48BE2;
}

.btn-primary-domain{
    background-color: #D6DDF9;
    color: #8DA1FA;
}
.btn-add-on-domain,.btn-deactive-domain{
    background-color: #F7EEE3;
    color: #F6B94F;
}


.bar {  
    width: 100%;
    background-color: #C9CCD1;
    height: 15px;
    border-radius: 5px;
}
  
.bar-text {
    color: white;
    background-color: #4CAF50;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 15px;
    padding-left: 5px;
}

.circle-box {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid transparent;
}
.circle-box-text{
    position: relative;
    margin-left: 8px;
    top: 12px;
}
.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.search-icon{
    padding-top: 15px;
}