<div class="container-fluid layout">
    <div class="row ">
        <div class="col-2 profile bg-primary">
            <div class="text-center mt-5">
                <img src="assets/images/profilepic.jpg" class="rounded-circle profile-pic" alt="...">
            </div>
            <div class="text-center mt-3 text-white">Sundar pichai</div>
            <div class="text-center text-light">sundar.p@google.com</div>
            <div class="menu mt-5">
                <ul class="list-group">
                    <ng-container *ngFor="let r of menu">
                        <li class="list-group-item bg-primary " [class.active]="isRouteActive(r.link)" routerLink="{{r.link}}">
                            <i class="fa {{r.icon}}" aria-hidden="true"></i> {{r.name}}
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="col-10 router-components">
            <div class="px-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>