
$theme-colors: (
    "primary": #5B7CFD,
    "success": #33CC86,
    "danger": #FF7F57,
    "warning": #ffae33,
    "light":#DEE5FF,
    "dark":#232D42
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";


.bg-primary{
    color: #DEE5FF;
}
.btn-light {
    background-color: #FFFFFF;
}

button:focus{
    outline: none;
}